.get-started-content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started-img-wrapper img{
  margin-left: 8rem;
  margin-right: 5rem;
  width: 35rem;
  height: auto;
}

.get-started-heading {
  margin-right: 10rem;
}

.get-started-heading h3 {
  margin-bottom: 2.5rem;
}

.get-started-heading p {
  line-height: 2rem;
  margin-bottom: 2.5rem;
}

.get-started-heading button {
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  color: #7700ff;
  background: none;
  cursor: pointer;
}