.hero {
  background: url('../../assets/images/Hero/hero-bg.svg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

header {
  overflow: hidden;
  height: 5.25rem;
  padding: 1rem;  
  margin: auto 6rem;
  margin-right: 7rem;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  list-style: none;
  font-weight: 500;
}

header p {
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: text-shadow .3s;
}

header p:hover {
  text-shadow: 0px 0px 10px #cea3ff;
}

header img {
  width: auto;
  height: 2rem;
  margin-right: .5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.header-right-buttons {
  display: flex;
  margin-left: auto;
}

.header-right-buttons img {
  margin: 0;
  margin-left: 1rem;
  width: auto;
  height: 2.5rem;
  cursor: pointer;
}


/* Hero Content */
.hero-content {
  padding-top: 5rem;
  padding-bottom: 10rem;
  margin: auto 6rem;
  display: grid;
  grid-template-columns: 65% 35%;
  max-width: var(--max-width);
  align-items: center;
}

.hero-content button {
  border-style: none;
  background-color: var(--purple-color);
  color: white;
  font-size: 1rem;
  height: 3rem;
  width: 9.625rem;
  border-radius: 6px;
  margin-top: 2rem;
  cursor: pointer;
  transition: box-shadow .3s;
}

.hero-content button:hover {
  box-shadow: 0px 0px 10px #cea3ff;
}

.hero-content-image img {
  width: auto;
  height: 42.5rem;
}

.hero-content-headings {
  padding-bottom: 15rem;
  margin-left: 2rem;
}