.cta {
  background-color: #2EC4CD;
  padding: 4rem 0;
}

.cta-wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cta-left-column {
  max-width: 35%;
  margin-left: 7.25rem;
  margin-right: 8rem;
}

.cta-left-column h2 {
  margin-bottom: 1rem;
}

.cta-left-column p {
  margin-bottom: 2rem;
}

.cta-left-column img {
  margin-right: 1rem;
  cursor: pointer;
}

.cta-get-app {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.cta-right-column {
  margin-right: 4rem;
}

.cta-right-column img {
  width: auto;
  height: 25rem;
}

.cta-phone-1 {
  position: relative;
  top: -4rem;
}

.cta-phone-2 {
  position: relative;
  top: 4.25rem;
}