.achievements-content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  position: relative;
}

.content {
  margin-left: 8rem;
}

.content h2 {
  margin-bottom: 1rem;
}

.achievement-list ul {
  display: flex;
}

.achievement-list ul li {
  width: 15rem;
  padding: 1rem 0;
  margin-right: 5rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.achievement-list ul li img {
  width: auto;
  height: 2rem;
  margin-right: 1.5rem;
}

.achievement-list ul li span {
  display: flex;
  flex-direction: column;
}

.achievement-list ul li h4 {
  margin-bottom: .25rem;
}